:root{
    --color-azul: #182F5D;
    --color-blanco: #ffffff;
    --color-gris: #ccc;
    --color-negro: #000000;
    --font: 'Libre Baskerville', serif;;
    --color-verde:#0bc273;
    --color-naranja:#D5AA3B;
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 13px;
}
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.205);;
}
::-webkit-scrollbar-thumb {
    background: black; 
}
::-webkit-scrollbar-thumb:hover {
    background: var(--color-verde); 
}

/* HEADER NAVEGADOR */
header{
    position: sticky;
    top: 0;
    z-index: 99999;
    background-color:var(--color-azul);
    width: 100%;
}
header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.contenedor-img{
    display: flex;
    margin-top: 5px;
    width: 25%;
    margin-bottom: 1.5px;
}
.contenedor-img .logo{
    width: 35vh;
}
.lista-nav{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0;
    padding: 0;
}
.lista-nav li{
    position: relative;
    list-style: none;
}
@media screen and (max-width:768px){
    .lista-nav li::after{
        position: absolute;
        content: "";
        width: 2px;
        height: 190px;
        right: 50%;
        background-color: #D5AA3B;
    }
}
.lista-nav li a{
    color:var(--color-blanco);
    text-decoration: none;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 

/* Botones y Hovers */
.btn-nav {
    border: none;
    display: block;
    position: relative;
    padding: 0.7em 2.4em;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: var(--color-negro);
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
    -webkit-box-shadow: 7px 7px 35px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 35px -5px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 35px -5px rgba(0,0,0,0.75);
}

.btn-nav span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--color-blanco);
    z-index: -1;
    border: 4px solid var(--color-blanco);
}

.btn-nav span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.5s;
}

.btn-nav:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: var(--color-azul);
}

.btn-nav:hover {
    color: white;
    /* border: solid 1px white; */
}

.btn-nav:active span::before {
    background: var(--color-azul);
}
@media screen and (max-width:1027px){
    button{
        padding: 0.5em 2.4em;
    }
}

/* Menu Hamburguesa */
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 4px;
    margin: 5px;
    background-color: var(--color-blanco);
    transition: .5s;
}
@media screen and (max-width:1024px){
    .contenedor-img{
        justify-content: center;
    }
    .contenedor-img .logo{
        width: 27vh;
        border-radius: 3px;
    }
}
@media screen and (max-width:988px){
    .lista-nav{
        width: 63%;
    }
}
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    header nav{
        justify-content: space-evenly;
    }
    .contenedor-img .logo{
        width: 20vh;
        border-radius: 3px;
    }
    .lista-nav{
        position: fixed;
        right: 0;
        height: 92vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--color-azul);
        width: 50%;
        transform: translateX(110%);
        transition: transform 0.5s ease-in;
    }
    .burger{
        display: block;
    }
}
@media screen and (max-width:500px){
    .lista-nav{
        width: 65%;
        top: 7.4vh;
        height: 100%;
    }
}
.nav-activo{
    transform: translateX(0%);
}

/*Efecto cruz de burger  */
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}


/* Nubes */
.nubes{
    background-image: url(../imagenes/nube-alta.svg);
    width: 100%;
    height: 880px;
    background-size:contain;
    background-repeat: round;
    position: relative;
}
@media screen and (max-width:1024px){
    .nubes{
        background-size: auto;
        height: 864px;
        background-image: url(../imagenes/nubeocho.svg);
    }
}
@media screen and (max-width:958px){
    .nubes{
        background-size: auto;
    }
}
@media screen and (max-width:768px){
    .nubes{
        background-size: auto;
        height: 870px;
        background-image: url(../imagenes/nubemil.svg);
    }
}
@media screen and (max-width:600px){
    .nubes{
        background-size: auto;
        height: 776px;
        background-image: url(../imagenes/nubemil.svg);
    }
}

/* Social Bar */
.social-bar{
    position: fixed;
    right: 0;
    top: 20%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}
.social-bar a{
    text-decoration: none;
}
.lat{
    color: var(--color-blanco);
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: all .5s;
}
.lat:hover{
    padding-right: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 .5rem rgba(0,0,0,0.42);
}
.fa-facebook-f{
    background-color: var(--color-azul);
    border-radius: 1rem 0 0 0;
    width: 43px;
}
.fa-whatsapp{
    background-color: #00bb2d;
}
.fa-instagram{
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    border-radius: 0rem 0 0 1rem;
}

@media screen and (max-width:768px){
    .fa-facebook-f{
        width: 42px;
    }
    .fa-whatsapp{
        width: 42px;
    }
    .fa-instagram{
        width: 42px;
    }
}

/* Titulo Parrafo */
.contenedor-main{
    width: 100%;
    margin: auto;
    display: flex;
    position: absolute;
    padding: 0 50px 0 0;
    top: 20vh;
}
.contenedor-main .contenedor-img{
    width: 100%;
    display: flex;
    justify-content: center;
}
.contenedor-main .contenedor-img .diet-img{
    width: 100%;
}
.contenedor-titulo{
    display: grid;
    font-family: var(--font);
}
.contenedor-titulo h1{
    display: flex;
    font-size: 3em;
    align-items: end;
    justify-content: end;
    font-family: var(--font);
    color: var(--color-blanco);
}
.contenedor-titulo .subtitulo-apellido{
    font-size: 48px;
    
    padding-bottom: 20px;
    text-align: end;
}

.span-especialista{
    display: flex;
    align-items: end;
    padding-top: 30px;

}
.span-especialista h2{
    font-size: 40px;
    color: black;
}

.span-clinica h3{
    font-size: 30px;
    color: white;
}

.contenedor-titulo .diet-parrafo{
    padding-top: 25px;
    color: rgb(212, 212, 50);
    font-size: 1.3em;
    font-family: var(--font);
    width: 80%;
    letter-spacing: .5px;
}


@media screen and (max-width:1024px){
    .contenedor-titulo h1{
        font-size: 2.4em;
    }
    .contenedor-titulo .subtitulo-apellido{
        font-size: 38.4px;
    }
    .contenedor-titulo .span-especialista h2{
        font-size: 35px;
    }
    .contenedor-titulo .span-clinica h3{
        font-size: 26px;
    }
    .contenedor-titulo .diet-parrafo{
        font-size: 1.2em;
    }
}
@media screen and (max-width:970px){
    .contenedor-main{
        top: 30vh;
    }
    .contenedor-main .contenedor-img{
        width: 70rem;
    }
    .contenedor-titulo h1{
        justify-content: start;
    }
    .contenedor-titulo .subtitulo-apellido{
        text-align: start;
    }
    .span-especialista{
        justify-content: end;
    }
    .contenedor-titulo .span-clinica h3{
        text-align: end;
    }
    .contenedor-titulo .diet-parrafo{
        width: 100%;
        text-align: end;
    }
}
@media screen and (max-width:768px){
    .contenedor-main{
        top: 15vh;
        width: 100%;
        padding: 0 50px 0 40px;
        flex-direction: column-reverse;
    }
    .contenedor-main .contenedor-img{
        justify-content: center;
        width: 100%;
    }
    .contenedor-main .contenedor-img .diet-img{
        width: 80%;
    }
    .contenedor-titulo{
        text-align: start;
    }
    .contenedor-titulo h1{
        display: flex;
        font-size: 2em;
    }
    .contenedor-titulo .diet-parrafo{
        font-size: 1em;
        margin-bottom: 15px;
    }
}
@media screen and (max-width:643px){
    .contenedor-main{
        width: 100%;
    }
    .contenedor-titulo h1{
        justify-content: center;
    }
    .contenedor-titulo .subtitulo-apellido{
        text-align: center;
    }
    .span-especialista{
        justify-content: center;
    }
    .contenedor-titulo .span-clinica h3{
        text-align: center;
    }
    .contenedor-titulo .diet-parrafo{
        text-align: center;
    }
    .contenedor-main .contenedor-img .diet-img{
        width: 100%;
    }
}
@media screen and (max-width:558px){
    .contenedor-titulo h1{
        font-size: 27px;
    }
    .contenedor-titulo .subtitulo-apellido{
        font-size: 33.4px;
    }
    .contenedor-titulo .span-especialista h2{
        font-size: 26px;
    }
    .contenedor-titulo .span-clinica h3{
        font-size: 22px;
    }
}
@media screen and (max-width:368px){
    .contenedor-main{
        padding: 0 11px 0 2px;
    }
}


/* IMAGENES REDONDAS */

.contenedor-redonda{
    display: flex;
    position: relative;
    margin: auto;
    top: 0;
    margin: 100px auto;
    width: 90%;
}
.contenedor-redonda .img-redonda1{
    display: flex;
    justify-content: center;
    position: relative;
}
.contenedor-redonda .img-redonda1::after{
    content: "";
    position: absolute;
    width: 90%;
    background-color: #6dad7e;
    height: 3px;
    right: -39px;
    bottom: -21px;
}
.contenedor-redonda .img-redonda2{
    display: flex;
    justify-content: center;
    position: relative;
}
.contenedor-redonda .img-redonda2::after{
    content: "";
    position: absolute;
    width: 90%;
    background-color: #006e97;
    height: 3px;
    right: -8px;
    bottom: -21px;
}
.contenedor-redonda .img-redonda3{
    display: flex;
    justify-content: center;
    position: relative;
}
.contenedor-redonda .img-redonda3::after{
    content: "";
    position: absolute;
    width: 90%;
    background-color: #f16c53;
    height: 3px;
    right: 24px;
    bottom: -21px;
}
.contenedor-redonda .img-redonda4{
    display: flex;
    justify-content: center;
    position: relative;
}
.contenedor-redonda .img-redonda4::after{
    content: "";
    position: absolute;
    width: 90%;
    background-color: #dbb147;
    height: 3px;
    right: 55px;
    bottom: -21px;
}
.contenedor-redonda img{
    width: 65%;
}

@media screen and (max-width:768px){
    .contenedor-redonda{
        width: 83%;
    }
}

@media screen and (max-width:425px){
    .contenedor-redonda{
        width: 92%;
    }
    .contenedor-redonda .img-redonda1{
        justify-content: end;
    }
    .contenedor-redonda .img-redonda2{
        justify-content: end;
        padding-right: 10px;
    }
    .contenedor-redonda .img-redonda3{
        justify-content: start;
        padding-left: 10px;
    }
    .contenedor-redonda .img-redonda4{
        justify-content: start;
    }
}

/* Contenedor Balanza */
.contenedor-balanza{
    position: relative;
    top: 0;
    display: flex;
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    border-radius: 5px;
    -webkit-box-shadow: 12px 13px 36px -2px rgba(0,0,0,0.59);
    -moz-box-shadow: 12px 13px 36px -2px rgba(0,0,0,0.59);
    box-shadow: 12px 13px 36px -2px rgba(0,0,0,0.59);
}
.contenedor-pbal{
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    font-size: 1.3em;
    letter-spacing: 1px;
    line-height: 40px;
}
.contenedor-pbal p{
    padding:50px 0 0 50px;
}
.img-balanza{
    width: 100%;
}
.img-balanza img{
    width: 100%;
}
.contenedor-pbal .parrafoBoton{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}

/* Boton Asesorate ya */
.c-button {
    color: #000;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    padding: 0.9em 1.6em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}
.parrafoBoton .linkBtn{
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.c-button--gooey {
    color: var(--color-azul);
    /* margin: 30px 20px 0px 50px; */
    width: 80%;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 4px solid var(--color-azul);
    border-radius: 0;
    position: relative;
    transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs {
    height: 100%;
    filter: url(#goo);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -3px;
    right: -1px;
    z-index: -1;
}

.c-button--gooey .c-button__blobs div {
    background-color: var(--color-azul);
    width: 34%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    transform: scale(1.4) translateY(125%) translateZ(0);
    transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs div:nth-child(1) {
    left: -5%;
}

.c-button--gooey .c-button__blobs div:nth-child(2) {
    left: 30%;
    transition-delay: 60ms;
}

.c-button--gooey .c-button__blobs div:nth-child(3) {
    left: 66%;
    transition-delay: 25ms;
}

.c-button--gooey:hover {
    color: #fff;
}

.c-button--gooey:hover .c-button__blobs div {
    transform: scale(1.4) translateY(0) translateZ(0);

}
@media screen and (max-width:1320px){
    .contenedor-pbal p{
        padding: 10px 0 0 50px
    }
    .contenedor-pbal .parrafoBoton{
        margin-top: 0;
    }
}
@media screen and (max-width:1234px){
    .contenedor-pbal{
        font-size: 1.1em;

    }
}
@media screen and (max-width:1163px){
    .contenedor-balanza{
        height: 400px;
    }
    
}
@media screen and (max-width:1024px){
    .contenedor-pbal{
        font-size: 1em;
    }
}
@media screen and (max-width:956px){
    .contenedor-balanza{
        width: 100%;
    }
    .contenedor-pbal p{
        padding: 30px 0 0 50px;
    }
    .img-balanza img{
        margin-top: 40px;
    }
}
@media screen and (max-width:768px){
    .contenedor-balanza{
        flex-direction: column-reverse;

        height: 450px;
    }
    .img-balanza{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .img-balanza img{
        width: 30%;
    }
    .contenedor-pbal{
        font-size: .9em;
        line-height: 27px;
        letter-spacing: .7px;
        text-align: center;
        width: 100%;
        justify-content: center;
    }
    .contenedor-pbal p{
        width: 100vh;
        padding: 10px 0;
    }
    .c-button--gooey{
        width: 40%;
        margin: 15px 0 15px 0;
    }
}

@media screen and (max-width:551px){
    .img-balanza img{
        width: 40%;
    }
    .contenedor-pbal{
        font-size: 15px;
    }
    .c-button--gooey{
        width: 70%;
    }
}
@media screen and (max-width:425px){
    .contenedor-pbal{
        font-size: 13px;
    }
}

/* Iframes */
.contenedor-iframes{
    position: relative;
    top: 0;
    margin: 50px 0 100px 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.ltr .timestampContent{
    display: none;
}
@media screen and (max-width:1024px){
    .contenedor-iframes{
        flex-direction: column;
    }
    .iframeUno{
        display: flex;
        justify-content: center;
    }
    .iframeDos{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .iframeDos .iframe-dos{
        display: flex;
        justify-content: center;
        margin-top: 55px;
    }
    .iframeTres{
        display: flex;
        justify-content: center;
        margin-top: 11px;
    }
}
@media screen and (max-width:768px){
    .iframeDos .iframe-dos iframe{
        height: 305px;
    }
}
@media screen and (max-width:522px){
    .iframeUno iframe{
        /* width: 70vh; */
        height: 550px;
    }
    .uiScaledImageContainer .scaledImageFitWidth{
        width: 400px;
    }
}

/* FOOTER */
footer{
    height: 44vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../imagenes/pasto-feli-2.png);
    background-size: cover;
}
.contenedor-footer{
    margin-top: 60px;
}
.img-footer{
    display: flex;
    justify-content: center;
}
.img-footer .logo-footer img{
    width: 35vh;
    margin-top: 20px;
}
.contenedor-footer .redes-footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.contenedor-footer .redes-footer a{
    text-decoration: none;
}
.contenedor-footer .redes-footer .iconos-redes{
    font-size: 30px;
    background: var(--color-blanco);
    width: 45px;
    height: 35px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-negro);
    text-decoration: none;
    transition: all .3s;
}

.contenedor-footer .redes-footer .fa-facebook:hover{
    color: var(--color-blanco);
    background-color: var(--color-azul);
}

.contenedor-footer .redes-footer .fa-whatsapp:hover{
    color: var(--color-blanco);
    background-color: #00bb2d;
}
.contenedor-footer .redes-footer .fa-instagram:hover{
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    color: var(--color-blanco);
}

@media screen and (max-width:768px){
    footer{
        background-size: cover;
    }
    .img-footer .logo-footer img{
        width: 27vh;
    }
    .contenedor-footer .redes-footer{
        margin-top: 12px;
    }
    .contenedor-footer .redes-footer .iconos-redes{
        font-size: 22px;
        width: 42px;
        height: 30px;
    }
}

@media screen and (max-width:768px){
    footer{
        height: 33vh;
    }
    .contenedor-footer{
        margin-top: 29px;
    }
}



/*
------------------------------------------------ SOBRE MI
------------------------------------------------ 
*/


.containerSobremi{
    position: relative;
    width: 100%;
    margin: auto;
    background-image: url(../imagenes/lineas-naranjas.svg);
    height: 950px;
    background-attachment: fixed;
}

.containerSobremi .nombreUniversidad{
    padding-top: 2rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    width: 100%;
    font-family: var(--font);
}
/* boton descarga */
/* From cssbuttons.io by @adamgiebl */
.cssbuttons-io-button {
    display: flex;
    align-items: center;
    font-family: inherit;
    justify-content: center;
    font-weight: 500;
    font-size: 20px;
    padding: 0.8em 1.5em 0.8em 1.2em;
    color: white;
    background: #0bc273;
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #0bc273;
    letter-spacing: 0.05em;
    border-radius: 20em;
    margin: 40px auto;
}

.cssbuttons-io-button svg {
    margin-right: 8px;
}

.cssbuttons-io-button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #4d36d0be;
}

.cssbuttons-io-button:active {
    box-shadow: 0 0.3em 1em -0.5em #4d36d0be;
}

/* adaptando boton */
@media screen and (max-width:546px){
    .cssbuttons-io-button{
        margin: 30px auto;
        font-size: 17px;
        letter-spacing: normal;
    }
}
@media screen and (max-width:412px){
    .cssbuttons-io-button{
        font-size: 15px;
    }
}

.containerSobremi .nombreUniversidad .doctora{
    text-align: center;
    font-size: 3rem;
    color: var(--color-negro);
}
.containerSobremi .nombreUniversidad .doctora span{
    color: var(--color-blanco);
}
.containerSobremi .nombreUniversidad .universidad span{
    color: var(--color-blanco);
}
.containerSobremi .nombreUniversidad .universidad{
    text-align: center;
    font-size: 2rem;
    color: var(--color-negro);
}
.contenedorClinica{
    position: absolute;
    width: 100%;
    margin: auto;
    bottom: 200px;
}
@media screen and (max-width:1230px){
    .contenedorClinica{
        bottom: 125px;
    }
}
@media screen and (max-width:1022px){
    .contenedorClinica{
        bottom: 90px;
    }
}
@media screen and (max-width:768px){
    .contenedorClinica{
        bottom: 40px;
    }
}

.medicaPorcentaje{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.subtituloMedic{
    display: flex;
    align-items: center;
    font-family: var(--font);
}
.subituloMedica{
    font-size: 53px;
    width: 100%;
    line-height: normal;
    color: var(--color-verde);
}
.contenedorClinica .medicaPorcentaje .habitos{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contenedorClinica .medicaPorcentaje .habitos .mision{
    color: #808080;
    font-size: 20px;
    font-family: var(--font);
}
.contenedorClinica .medicaPorcentaje .habitos .contenedorCirculos{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.contenedorClinica .medicaPorcentaje .habitos .recetas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}
.contenedorClinica .medicaPorcentaje .habitos .recetas img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: solid rgb(89, 89, 90) 10px;
    transition: all .3s;
    cursor: pointer;
}
.contenedorClinica .medicaPorcentaje .habitos .recetas img:hover{
    border: solid var(--color-naranja) 10px;
    transform: scale(.95);
}
.contenedorClinica .medicaPorcentaje .habitos .recetas h3{
    color: var(--color-negro);
    padding-top: 15px;
    position: relative;
}
.contenedorClinica .medicaPorcentaje .habitos .recetas h3::before{
    content: "";
    position: absolute;
    bottom: -6px;
    left: 12.5%;
    width: 75%;
    height: 2px;
    background-color: var(--color-naranja);
}
.contenedorClinica .medicaPorcentaje .habitos .recetas p{
    color: var(--color-blanco);
}
.contenedorClinica .medicaPorcentaje .habitos .educacionAlimentaria{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
}
.contenedorClinica .medicaPorcentaje .habitos .educacionAlimentaria img{
    width: 150px;
    border-radius: 100%;
    border: solid rgb(89, 89, 90) 10px;
    height: 150px;
    transition: all .3s;
    cursor: pointer;
}
.contenedorClinica .medicaPorcentaje .habitos .educacionAlimentaria img:hover{
    border: solid #6588eb 10px;
    transform: scale(.95);
}
.contenedorClinica .medicaPorcentaje .habitos .educacionAlimentaria h3{
    color: var(--color-negro);
    padding-top: 15px;
    position: relative;
}
.contenedorClinica .medicaPorcentaje .habitos .educacionAlimentaria h3::before{
    content: "";
    position: absolute;
    bottom: -6px;
    left: 12.5%;
    width: 75%;
    height: 2px;
    background-color: #6588eb;
}
.contenedorClinica .medicaPorcentaje .habitos .educacionAlimentaria p{
    color: var(--color-blanco);
}
.contenedorClinica .medicaPorcentaje .habitos .tips{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
}
.contenedorClinica .medicaPorcentaje .habitos .tips img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: solid rgb(89, 89, 90) 10px;
    transition: all .3s;
    cursor: pointer;
}
.contenedorClinica .medicaPorcentaje .habitos .tips img:hover{
    border: solid var(--color-verde) 10px;
    transform: scale(.95);
}
.contenedorClinica .medicaPorcentaje .habitos .tips h3{
    color: var(--color-negro);
    padding-top: 15px;
    position: relative;
}
.contenedorClinica .medicaPorcentaje .habitos .tips h3::before{
    content: "";
    position: absolute;
    bottom: -6px;
    left: 12.5%;
    width: 75%;
    height: 2px;
    background-color: var(--color-verde);
}
.contenedorClinica .medicaPorcentaje .habitos .tips p{
    color: var(--color-blanco);
}
@media screen and (max-width: 868px){
    .containerRedo{
        max-width: 80rem;
    }
    .subituloMedica{
        font-size: 50px;
    }
}
@media screen and (max-width:956px){
    .contenedorClinica{
        width: 100%;
    }
    .contenedorClinica .medicaPorcentaje .habitos .recetas{
        width: 36%;
    }
}
@media screen and (max-width:1057px){
    .containerSobremi{
        background-position: right;
        background-attachment: fixed;
    }
}
@media screen and (max-width:768px){
    .medicaPorcentaje{
        flex-direction: column;
    }
    .subituloMedica{
        text-align: center;
        width: 91%;
        margin: auto;
    }
    .containerSobremi{
        background-position: bottom;
    }
    .containerSobremi .nombreUniversidad{
        font-family: var(--font);
    }
    .containerSobremi .nombreUniversidad .doctora{
        font-size: 2.3rem;
    }
    .containerSobremi .nombreUniversidad .universidad{
        font-size: 1.4rem;
    }
    .contenedorLista{
        width: 100%;
    }
}
.contenedorLista{
    font-family: var(--font);
}
@media screen and (max-width:715px){
    
    .contenedorClinica .medicaPorcentaje .habitos{
        gap: 25px;
    }
    .contenedorClinica .medicaPorcentaje .habitos .mision{
        margin-bottom: 0;
    }
    .subituloMedica{
        font-size: 40px;
    }
    .contenedorClinica .medicaPorcentaje .habitos .contenedorCirculos{
        gap: 0;
    }
    .contenedorClinica .medicaPorcentaje .habitos .recetas img{
        width: 113px;
        height: 113px;
    }
    .contenedorClinica .medicaPorcentaje .habitos .recetas h3{
        font-size: 16px;
    }
    .contenedorClinica .medicaPorcentaje .habitos .recetas p{
        font-size: 15px;
    }
    .contenedorClinica .medicaPorcentaje .habitos .educacionAlimentaria img{
        width: 113px;
        height: 113px;
    }
    .contenedorClinica .medicaPorcentaje .habitos .educacionAlimentaria h3{
        font-size: 16px;
    }
    .contenedorClinica .medicaPorcentaje .habitos .educacionAlimentaria p{
        font-size: 15px;
    }
    .contenedorClinica .medicaPorcentaje .habitos .tips img{
        width: 113px;
        height: 113px;
    }
    .contenedorClinica .medicaPorcentaje .habitos .tips h3{
        font-size: 16px;
    }
    .contenedorClinica .medicaPorcentaje .habitos .tips p{
        font-size: 15px;
        margin-bottom: 0;
        padding-top: 0;
    }
    /* ADAPTANDO CIRCULOS A MOVIL */
    .contenedorClinica .medicaPorcentaje .habitos .contenedorCirculos{
        display: grid;
        grid-template-rows: repeat(1,auto);
        grid-template-columns: repeat(1,auto);
        justify-content: center;
    }
    .contenedorClinica .medicaPorcentaje .habitos .tips{
        margin-left: 108px;
        width: 100%;
    }
    .contenedorClinica .medicaPorcentaje .habitos .educacionAlimentaria{
        width: 100%;
        grid-row: 1;
        padding-right: 20px;
    }
    .contenedorClinica .medicaPorcentaje .habitos .recetas{
        width: 50%;
        grid-row: 1;
    }
}
@media screen and (max-width:644px){
    .subituloMedica{
        font-size: 30px;
        width: 100%;
    }
}
@media screen and (max-width:550px){
    .contenedorClinica .medicaPorcentaje .habitos .tips{
        margin-left: 108px;
        width: 100%;
    }
}

@media screen and (max-width:500px){
    .subituloMedica{
        font-size: 24px;
    }
    .containerSobremi .nombreUniversidad .doctora{
        font-size: 2rem;
    }
    .containerSobremi .nombreUniversidad .universidad{
        font-size: 1.2rem;
    }
    .contenedorClinica .medicaPorcentaje .habitos .mision{
        font-size: 16px;
        font-weight: 600;
    }
    .contenedorClinica .medicaPorcentaje .habitos .educacionAlimentaria{
        padding-right: 0;
    }
    .contenedorClinica .medicaPorcentaje .habitos .tips{
        margin-left: 90px;
    }
    .contenedorClinica .medicaPorcentaje .habitos .tips img{
        width: 100px;
        height: 100px;
        
    }
    .contenedorClinica .medicaPorcentaje .habitos .recetas{
        width: 75%;
    }
    .contenedorClinica .medicaPorcentaje .habitos .educacionAlimentaria{
        width: 75%;
    }
}
@media screen and (max-width:420px){
    .contenedorClinica .medicaPorcentaje .habitos .tips{
        margin-left: 84px;
    }
    
}
@media screen and (max-width:380px){
    .contenedorClinica .medicaPorcentaje .habitos .tips{
        margin-left: 79px;
    }
}

/* PREGUNTAS FRECUENTES */
.contenedorPatologias{
    width: 100%;
    position: relative;
    margin: 240px 0;
}
.contenedorPatologias .patologias{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 110px;
}
.contenedorPatologias .patologias .contenedorLista::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 327px;
    background-color: #d5a733;
    right: 50vw;
    top: -50px;
}
@media screen and (max-width:970px){
    .contenedorPatologias .patologias .contenedorLista::after{
        right: 43vw;
    }
}

.contenedorPatologias .patologias .listaPatologias{
    list-style: none;
    padding: 0%;
}
.contenedorPatologias .patologias .imagenPatologias{
    width: 25%;
}
.contenedorPatologias .patologias .imagenPatologias img{
    width: 90%;
}
@media screen and (max-width:1433px){
    .contenedorPatologias .patologias .imagenPatologias img{
        width: 67%;
    }
}

@media screen and (max-width:1300px){
    .contenedorPatologias .patologias .imagenPatologias img{
        width: 75%;
    }
}
@media screen and (max-width:1183px){
    .contenedorPatologias .patologias .imagenPatologias img{
        width: 100%;
    }
}
@media screen and (max-width:939px){
    .contenedorPatologias .patologias .imagenPatologias{
        width: 27%;
    }
}
@media screen and (max-width:800px){
    .contenedorPatologias .patologias .imagenPatologias{
        width: 30%;
    }
}
@media screen and (max-width:768px){
    .contenedorPatologias .patologias{
        flex-direction: column;
        align-items: center;
    }
    .contenedorPatologias .patologias .contenedorLista::after{
        width: 327px;
        height: 2px;
        right: 27vw;
        top: 264px;
    }
    .contenedorPatologias .patologias .imagenPatologias{
        margin-top: 40px;
    }
}
.contenedorPatologias .preguntasFrecuentes{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3, auto);
    gap: 1.5rem;
    width: 100%;
    margin: 180px auto;
    padding: 50px;
    background-color: var(--color-verde);
    box-shadow: -1px 10px 19px 1px rgba(87,135,102,0.79);
    -webkit-box-shadow: -1px 10px 19px 1px rgba(87,135,102,0.79);
    -moz-box-shadow: -1px 10px 19px 1px rgba(87,135,102,0.79);
}
.contenedorPatologias .preguntasFrecuentes h3{
    grid-column: 1/2;
    grid-row: 1/2;
    color: var(--color-blanco);
    font-size: 3rem;
}
.contenedorPatologias .preguntasFrecuentes .preguntaUno{
    grid-column: 1/2;
    grid-row: 2/3;
}
.contenedorPatologias .preguntasFrecuentes .preguntaDos{
    grid-column: 2/2;
    grid-row: 2/3;
}
.contenedorPatologias .preguntasFrecuentes .preguntaTres{
    grid-column: 2/2;
    grid-row: 3/3;
}
.contenedorPatologias .preguntasFrecuentes .preguntaCuatro{
    grid-column: 1/2;
    grid-row: 3/3;
}


@media screen and (max-width:768px){
    .contenedorPatologias{
        margin: 115px 0;
    }
    .contenedorPatologias .preguntasFrecuentes{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
@media screen and (max-width:700px){
    .contenedorPatologias .patologias .contenedorLista::after{
        right: 24vw;
    }
}
@media screen and (max-width:600px){
    .contenedorPatologias .patologias .contenedorLista::after{
        right: 20vw;
    }
}
@media screen and (max-width:530px){
    .contenedorPatologias .patologias .contenedorLista::after{
        right: 15vw;
    }
}
@media screen and (max-width:475px){
    .contenedorPatologias .patologias .contenedorLista::after{
        right: 12vw;
    }
}

@media screen and (max-width:439px){
    .contenedorPatologias .preguntasFrecuentes .preguntaUno, .preguntaDos, .preguntaTres, .preguntaCuatro{
        padding: 0 0;
    }
}
@media screen and (max-width:420px){
    .contenedorPatologias .patologias .contenedorLista::after{
        right: 0vw;
        width: 100%;
    }
}
@media screen and (max-width:630px){
    .contenedorPatologias .patologias .imagenPatologias{
        width: 40%;
    }
}

/* COMENTARIOS GENTE */

.tituloComentarios .testimonioTitulo{
    display: block;
    text-align: center;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 12ch;

    animation: typing 4s steps(12) infinite,
    blink .5s infinite step-end alternate ;
    overflow: hidden;
}
@keyframes typing {
    from {width: 0;}
}
@keyframes blink{
    50% {border-color: transparent;}
}
.tituloComentarios {
    display: flex;
    justify-content: center;
}
.contenedorComentarios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    font-family: var(--font);
    margin-bottom: 110px;
    margin-top: 30px;
}
.contenedorComentarios>a{
    text-decoration: none;
}
.contenedorCaja{
    width: 600px;
    background-color: var(--color-naranja);
    padding: 20px;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 10px 9px 31px 2px rgba(0,0,0,0.63);
    -webkit-box-shadow: 10px 9px 31px 2px rgba(0,0,0,0.63);
    -moz-box-shadow: 10px 9px 31px 2px rgba(0,0,0,0.63);
}
.usuariosImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.usuariosImg img{
    width: 100%;
    height: 100%;
    object-fit: center;
}
.encabezadoComentarios{
    display: flex;
}
.usuarioCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.recomiendaEstrella{
    display: flex;
    justify-content: space-evenly;
}
.usuarioRecomienda{
    text-align: center;
    width: 60%;
}
.usuarioRecomienda p{
    width: 90%;
}
.usuarioRecomienda p a{
    text-decoration: none;
    color: var(--color-blanco);
}
.usuariosImg div a p{
    color: var(--color-blanco);
    text-decoration: none;
}
.nombreLink a {
    text-decoration: none;
    color: var(--color-blanco);
}
.contenedorEstrellas{
    color: yellow;
}
@media screen and (max-width:600px){
    .usuarioRecomienda{
        width: 50%;
    }
    .usuarioRecomienda p{
        font-size: 12px;
    } 
    .nombreLink{
        font-size: 12px;
    }
}

/*
------------------------------------------------ CONTACTO
------------------------------------------------ 
*/

/* FORMULARIO =================================== */

.form_wrap{
    width: 80%;
    height: 100%;
    margin: 50px auto;
    display: flex;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    flex-direction: column;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 20%);
    font-family: var(--font);
}
.form_wrap #trucazo{
    opacity: 0;
}
/* Informacion de Contacto*/

.cantact_info::before{
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background: #4091EC;
    opacity: 0.9;
}

.cantact_info{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url(../fondo.jpg);
        background-size: cover;
        background-position: center center;

}

.info_title,
.info_items{
    position: relative;
    z-index: 2;
    color: #fff;
}

.info_title{
    margin-bottom: 60px;
}

.info_title span{
    font-size: 100px;
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.info_title h2{
    font-size: 35px;
    text-align: center;
}

.info_items p{
    display: flex;
    align-items: center;

    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.info_items p:nth-child(1) span{
    font-size: 30px;
    margin-right: 10px;
}

.info_items p:nth-child(2) span{
    font-size: 50px;
    margin-right: 15px;
    margin-left: 4px;
}


/* Formulario de contacto*/
form.form_contact{
    width: 85%;
    padding: 30px 40px;
    margin: auto;
}

form.form_contact h2{
	font-size: 25px;
	font-weight: 600;
	color: #303030;
	margin-bottom: 30px;
}

form.form_contact .user_info{
    display: flex;
    flex-direction: column;
}

form.form_contact label{
    font-weight: 600;
}

form.form_contact input,
form.form_contact textarea{
    width: 100%;
    padding: 8px 0px 5px;
    margin-bottom: 20px;

    border: none;
    border-bottom: 2px solid #D1D1D1;

    font-family: 'Open sans';
	color: #5A5A5A;
	font-size: 14px;
	font-weight: 400;
}

form.form_contact textarea{
    max-width: 100%;
    min-width: 100%;
    max-height: 90px;
}

form.form_contact button[type="submit"]{
    width: 180px;
	background: #4091EC;
	padding: 10px;
	border: none;
	border-radius: 25px;

    align-self: flex-end;

    color: #fff;
	font-family: 'Open sans';
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}

form.form_contact button[type="submit"]:hover{
    background: #3371B6;
}

/* Ventana de errores*/
.modal_wrap{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.7);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje_modal{
    background: #fff;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    width: 400px;
    padding: 30px 20px 15px;
}

.mensaje_modal h3{
    text-align: center;
    font-family: 'Ubuntu';
	font-size: 20px;
	font-weight: 400;
}

.mensaje_modal h3:after{
    content: '';
	display: block;
	width: 100%;
	height: 1px;
	background: #C5C5C5;
	margin: 10px 0px 15px;
}

.mensaje_modal p{
    font-size: 16px;
    color: #606060;
}

.mensaje_modal p:before{
    content: "X";
    display: inline-block;
    color: #E25151;
    margin-right: 8px;
}

#btnClose{
    display: inline-block;
	padding: 3px 10px;
	margin-top: 10px;

	background: #E25151;
	color: #fff;
	border: 2px solid #B14141;
	cursor: pointer;

	float: right;
}

